<%= form_with(model: trail, local: true) do |form| %>
  <% if trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% trail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <input type="text" class="form-control" id="trail" name="trail[notes]" placeholder="Add a comment here">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

<% end %>
