<div class="container well-lg">
  <h1>Welcome to Katy Hiking Trails</h1>
  <h3>Your guide to outdoor exploration in Katy, Texas</h3>
  <%=image_tag src='KatyTexasSign.jpg', class: "img-responsive" %>
</div>
